################################################################################
#                            Raven Benchmark Report                            #
################################################################################

Raven is a benchmark framework for performance and cost evaluation of OLAP
engines on the cloud.

Time:
    StartTime: {{ start_time }}
    EndTime: {{ end_time }}


Cloud Provider:
      Name: AWS
      Description: Amazon Web Service.
      Properties:
        Region: ap-southeast-1
        KeyName: key_raven

################################################################################
#                             Performance Metrics                              #
################################################################################

Queries:
    Total:                     {{ total_queries }}
    Finish:                    {{ total_finish_queries }}
    Fail:                      {{ total_fail_queries }}

ReactionTime:
    Average:                   {{ average_reaction_time }} ms
    Max:                       {{ max_reaction_time }} ms
    Min:                       {{ min_reaction_time }} ms
    %95 Percentile:            {{ percentile_reaction_time }} ms

Latency:
    Average:                   {{ average_latency }} ms
    Max:                       {{ max_latency }} ms
    Min:                       {{ min_latency }} ms
    %95 Percentile:            {{ percentile_latency }} ms

ResponseTime:
    Average:                   {{ average_response_time }} ms
    Max:                       {{ max_response_time }} ms
    Min:                       {{ min_response_time }} ms
    %95 Percentile:            {{ percentile_response_time }} ms

################################################################################
#                                   Cost                                       #
################################################################################

Cost:
    Total:                     {{ total_cost }} $
    Pre Computing:             {{ pre_computing_cost }} $
    Query:                     {{ query_cost }} $

################################################################################
#                           Resource Utilization                               #
################################################################################

CPU:

Memory:

Disk:

################################################################################
#                                  Scores                                      #
################################################################################

Scores:
    Offline:
        Calculation:
        Delay:
    Online:
        Calculation:
        Delay: